Objectives
Clean data.
Convert data types. InvoiceDate is object and not in datetime format.
Remove duplicates.
Save the cleaned data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/RAW/Fintech_user.csv')

In [ ]:
# Removing duplicates
df = df.drop_duplicates()
print(df.shape)

(26542, 31)

Checking which columns have missing values

In [4]:
df.isnull().any()

user                       False
churn                      False
age                         True
housing                    False
credit_score                True
deposits                   False
withdrawal                 False
purchases_partners         False
purchases                  False
cc_taken                   False
cc_recommended             False
cc_disliked                False
cc_liked                   False
cc_application_begin       False
app_downloaded             False
web_user                   False
app_web_user               False
ios_user                   False
android_user               False
registered_phones          False
payment_type               False
waiting_4_loan             False
cancelled_loan             False
received_loan              False
rejected_loan              False
zodiac_sign                False
left_for_two_month_plus    False
left_for_one_month         False
rewards_earned              True
reward_rate                False
is_referred                False
dtype: bool

After checking for null values in the dataset, the following columns were found to contain missing values:
Column	| Missing Values
age	| 4
credit_score |	7,789
rewards_earned |	3,163

In [5]:
df[['age', 'credit_score', 'rewards_earned']].isnull().sum()

age                  4
credit_score      7789
rewards_earned    3163
dtype: int64

Strategy: Filled missing values with the median age. Reasoning: The number of missing entries is minimal and using the median prevents skewing from outliers.

In [ ]:
df['age'].fillna(df['age'].median(), inplace=True)

In [ ]:
df['rewards_earned'].fillna(0, inplace=True)